form(method='post', action='/login')
  include ./../../shared/_formErrors
  label Username (Your email address)
  input(name='username', length='50', type='text')
  label Password
  input(name='password', length='20', type='text')
  div.form-actions
    input(value='Login', type='submit')