h2.left="What's happening, " + user.username + "?"
form.form-horizontal.controls(method='post', action='/send')
	input(type="hidden", name='tweet[username]', value='#{user.username}')
	textarea.input-xlarge(name='tweet[content]', length='140', type='textarea', rows='3')
	div.form-actions
		input(value='Tweet', type='submit')