h2 What's happening?
form(method='post', action='/send')
	label Name
	input(name='tweet[name]', length='50', type='text')
	label Content
	input(name='tweet[content]', length='140', type='text')
	input(value='Tweet', type='submit')