extends layout

block content
  include shared/_flash_success
  .row
    aside.span4
      section
        include shared/_user_info
      section
        include shared/_micropost_form
    div.span8
      h3 Micropost Feed
      include shared/_feed