extends layout

block content
  h1=header
  include shared/_flash_success
  img(id='user_'+user.id, src='./../images/tim.png', style='float:left;width:130px;height:130px;')
  include ./tweets/new
  
  div#box(style='float:none;padding-top:25px;')
    include ./tweets/index