extends layout

block content
  h2 Welcome to Chirpie
  h3 Login
  form(method='post', action='/login')
    label Username (Your email address)
    input(name='user[username]', length='50', type='text')
    label Password
    input(name='user[password]', length='20', type='text')
    input(value='Login', type='submit')
