form.form-horizontal.controls(method='post', action='/send')
	input(type="hidden", name='tweet[username]', value='#{user.username}')
	textarea.input-xlarge(name='tweet[content]', length='140', type='textarea', rows='3')
	div(style="float:none;")
		input(value='Tweet', type='submit', style="margin-top:20px;margin-left:0px;")