extends ./../layout

block content
  .row
    aside.span4
      section
        include ./../shared/_user_info
    div.span8
      h3 Micropost Feed
      - if(typeof(user.tweets) !== 'undefined' && user.tweets.length > 0)
        ol.microposts
          -for tweet in user.tweets
            li(id=tweet.id)
              span.content #{tweet.username} said: #{tweet.content}
              span.timestamp #{tweet.created_at}